{% extends 'layouts/default.twig' %}
{% block content %}
    <h1 class="conversation_subject">
        {{ conversation.subject }}
         <div class="pull-right">
         <a href="{{ path('profile', { user_id: conversation.fromUser.id }) }}">
            <img class="avatar-medium img-circle" src="{{ conversation.fromUser.profileImage }}" alt="{{ conversation.fromUser.name }}">
        </a>
         <a href="{{ path('profile', { user_id: conversation.toUser.id }) }}">
            <img class="avatar-medium img-circle" src="{{ conversation.toUser.profileImage }}" alt="{{ conversation.toUser.name }}">
        </a>
         </div>
    </h1>
    <p class="conversation_header">
        <a href="{{ path('profile', { user_id: conversation.fromUser.id }) }}">
            <img class="avatar-small img-circle" src="{{ conversation.fromUser.profileImage }}" alt="{{ conversation.fromUser.name }}">
            {{ conversation.fromUser.name }}
        </a>
        on {{ conversation.startedAt|date }}
    </p>

    <div class="conversation_opening_message">
        <div class="message_body">
            {{ conversation.firstMessage.body|markdown }}
        </div>
    </div>

    {% for message in conversation.replies %}
        <hr/>
        <div class="conversation_reply">
            <div class="message_header">
                <a href="{{ path('profile', { user_id: message.fromUser.id }) }}">
                    <img class="avatar-small img-circle" src="{{ message.fromUser.profileImage }}" alt="{{ message.fromUser.name }}">
                    {{ message.fromUser.name }}</a>
                    on {{ message.createdAt|date }}
                    {% if not message.isRead %}
                        <span class="label label-default">UNREAD</span> {# this tells a user if the other person has read this message or not yet #}
                    {% endif %}
            </div>
            <div class="message_body">
                {{ message.body|markdown }}
            </div>
        </div>
    {% endfor %}

    <hr/>
    {{ form_start(message_form) }}
    <div class="reply_form">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#reply_write" aria-controls="reply_write" role="tab" data-toggle="tab">Reply</a></li>
            <li role="presentation"><a id="generate_markdown" href="#reply_preview" aria-controls="reply_preview" role="tab" data-toggle="tab">Preview</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="reply_write" style="min-height: 500px;">
                {{ form_row(message_form.body, { label: false, attr: { style: "min-height: 500px;", } }) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="reply_preview" style="min-height: 500px;">
                <div data-markdown-preview data-raw-body="{{ message_form.body.vars.id }}" data-generate-click="generate_markdown"></div>
            </div>
          </div>
        </div>
    </div>
    {{ form_row(message_form.submit) }}
    {{ form_end(message_form) }}
{% endblock %}