{% extends 'layouts/default.twig' %}
{% block content %}
    <div class="row">
    <div class="col-lg-3">
        <p><img class="img-rounded" width="230" height="230" style="margin-top: 25px;" src="{{ viewing_user.profileImage }}?s=230"></p>

        {% if viewing_user.isMentor %}
        <strong>Mentor</strong>
        <div class="tags">
            <ul class="list-inline">
            {% for tag in viewing_user.mentorTags %}
                <li>
                    <span class="label label-primary">
                        {{ tag.name }}
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if viewing_user.isMentee %}
        <strong>Apprentice</strong>
        <div class="tags">
            <ul class="list-inline">
            {% for tag in viewing_user.apprenticeTags %}
                <li>
                    <span class="label label-primary">
                        {{ tag.name }}
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
    <div class="col-lg-9">
    <h1>{{ viewing_user.name }}</h1>
    <p>{{ viewing_user.profile|markdown }}</p>

    {% if viewing_user.timezone %}
        <p>Timezone: {{ viewing_user.timezone.name }}</p>
    {% endif %}

    {% if message_form and not viewing_yourself %}
        <h3>Send a message to {{ viewing_user.name }}</h3>
        {{ form_start(message_form) }}
        {{ form_row(message_form.subject) }}
        <div class="message_form">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#write_message" aria-controls="write_message" role="tab" data-toggle="tab">Write</a></li>
            <li role="presentation"><a id="generate_markdown" href="#message_preview" aria-controls="message_preview" role="tab" data-toggle="tab">Preview</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="write_message" style="min-height: 500px;">
                   {{ form_row(message_form.body, { label: false, attr: { style: "min-height: 500px;", } }) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="message_preview" style="min-height: 500px;">
                <div data-markdown-preview data-raw-body="{{ message_form.body.vars.id }}" data-generate-click="generate_markdown"></div>
            </div>
          </div>
        </div>
    </div>
    {{ form_end(message_form) }}
    {% endif %}

    {% if not app.session.get('user') %}
        <p>
            If you would like to contact {{ viewing_user.name }} please <a href="{{ path('auth.login') }}">Login</a>.
        </p>
    {% endif %}
    </div>
    </div>
{% endblock %}
